.roadMap {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(../../assets/roadmap/roadmap_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 100px;
  max-width: 100vw !important;
  height: auto;
  background-color: #202f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid #10171f;
  position: relative;
  overflow: hidden;
}

.roadMapSection {
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 50px;
}

.roadMapFlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 35px;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.roadMapStep {
  padding: 0 30px;
  max-width: 29%;
  margin-top: 10px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

  border: solid rgba(255, 255, 255, 0.3) 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: +50;
  min-height: 375px;
  position: relative;
}

.roadMapHeader {
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
  text-align: left;
}

.roadMapText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  /* or 135% */

  text-align: center;
  text-transform: uppercase;
}

.roadMapNumber {
  font-size: 56px;
  font-weight: 600;
  font-style: italic;
}

.roadMapTitle {
  display: flex;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  padding-top: 20px;
}

.progressText {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  background: linear-gradient(90deg, #02E0AF, #3368CC);
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
  padding: 20px 0;
}

.progressTextSoon {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  margin-top: auto;
  padding: 20px 0;
}

.roadMapStepBackground1 {
  background-image: url(../../assets/roadmap/RoadmapSteps.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #202f3f;
  border-image: linear-gradient(90deg, #02E0AF, #3368CC) 30;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 5px;
  position: relative;
  z-index: +50;
}

.roadMapStepBackground2 {
  background: linear-gradient(90deg, rgba(2, 224, 175, 0.2), rgba(51, 104, 204, 0.2));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  z-index: +50;
}

.roadMapInnerFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 50px;
}

//BackgroundAssets

.dotPatternRoadMap1 {
  position: absolute;
  width: 10vw;
  height: auto;
  left: -6%;
  top: 40%;
  z-index: 1;
}

.dotPatternRoadMap2 {
  position: absolute;
  width: 4vw;
  height: auto;
  left: 90%;
  top: 15%;
  z-index: 1;
}

.dotPatternRoadMap3 {
  position: absolute;
  width: 10vw;
  height: auto;
  right: 20%;
  top: 57.5%;
  z-index: 1;
}

.dotPatternRoadMap4 {
  position: absolute;
  width: 6vw;
  height: auto;
  right: 22.2%;
  top: 90%;
  z-index: 1;
}

.roadMapArrow1 {
  position: absolute;
  width: 7vw;
  height: auto;
  left: 2%;
  top: 31%;
  z-index: 1;
}

.roadMapArrow2 {
  position: absolute;
  width: 6vw;
  height: auto;
  left: 33%;
  top: 31%;
  z-index: 1;
}

.roadMapArrow3 {
  position: absolute;
  width: 15vw;
  height: auto;
  left: 60.2%;
  top: 31%;
  z-index: 1;
}

.roadMapArrow4 {
  position: absolute;
  width: 35vw;
  height: auto;
  left: 35%;
  top: 47.7%;
  z-index: 1;
}

.roadMapArrow5 {
  position: absolute;
  width: 10vw;
  height: auto;
  left: 45%;
  top: 71%;
  z-index: 1;
}

// arrow connector images for screens larger than 1024

@media screen and (min-width: 1025px) {
  .roadMapFlexContainer {

    >div:first-of-type {

      >div:first-child {
        position: relative;

        &:before {
          content: "";
          width: 1000px;
          height: 9px;
          background-image: url("/src/assets/roadmap/arrow5.png");
          background-size: 500px 9px;
          background-position: center right;
          background-repeat: no-repeat;
          position: absolute;
          right: calc(100% + 5px);
          top: 50%;
          opacity: 1;
        }

        &:after {
          content: "";
          width: 42px;
          height: 9px;
          background-image: url("/src/assets/roadmap/arrow5.png");
          background-size: 500px 9px;
          background-position: center right;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(100% + 8px);
          top: 50%;
          opacity: 1;
        }
      }

      >div:nth-child(2) {
        position: relative;

        &:before {
          content: "";
          width: 32vw;
          height: 26px;
          background-image: url("/src/assets/roadmap/arrow2.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: -32px;
          opacity: 0.7;
        }
      }

      >div:nth-child(3) {
        position: relative;

        &:after {
          content: "";
          width: 65vw;
          height: 48px;
          background-image: url("/src/assets/roadmap/arrow3.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          position: absolute;
          right: 50%;
          bottom: -55px;
          opacity: 0.7;
        }
      }

    }

    >div:last-of-type {
      >div:nth-child(1) {
        position: relative;

        &:after {
          content: "";
          width: 42px;
          height: 9px;
          background-image: url("/src/assets/roadmap/arrow4.png");
          background-size: 1000px 9px;
          background-position: center right;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(100% + 8px);
          top: 50%;
          opacity: 0.7;
        }
      }

      >div:nth-child(2) {
        position: relative;

        &:after {
          content: "";
          width: 42px;
          height: 9px;
          background-image: url("/src/assets/roadmap/arrow4.png");
          background-size: 1000px 9px;
          background-position: center right;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(100% + 8px);
          top: 50%;
          opacity: 0.7;
        }
      }

      >div:nth-child(3) {
        position: relative;

        &:after {
          content: "";
          width: 10vw;
          height: 9px;
          background-image: url("/src/assets/roadmap/arrow4.png");
          background-size: 1000px 9px;
          background-position: center right;
          background-repeat: no-repeat;
          position: absolute;
          left: calc(100% + 8px);
          top: 50%;
          opacity: 0.7;
        }
      }
    }
  }
}

// arrow images for extra large screens

@media screen and (min-width: 1800px) {

  .roadMapFlexContainer {

    >div:first-of-type {

      >div:nth-child(2) {
        position: relative;

        &:before {
          width: 540px;
        }
      }

      >div:nth-child(3) {
        position: relative;

        &:after {
          width: 1050px;
        }
      }
    }

    >div:last-of-type {

      >div:last-child {
        position: relative;

        &:after {
          width: 20vw;
        }
      }
    }
  }
}

// arrow connector images for screens smaller than 1024

@media screen and (max-width: 1024px) {
  .dotPatternRoadMap3 {
    display: none;
  }

  .dotPatternRoadMap4 {
    display: none;
  }

  .roadMapFlexContainer {
    .roadMapInnerFlexContainer {
      flex-direction: column;
      max-width: 600px;

      &:last-child > .roadMapStep:last-child:after {
        height: 100px;
      }
    }

    .roadMapStep {
      position: relative;
      max-width: 90vw;

      &:after {
        content: "";
        width: 9px;
        height: 42px;
        background-image: url("/src/assets/roadmap/arrow-down.png");
        background-size: 9px 270px;
        background-position: bottom center;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: calc(100% + 8px);
        opacity: 0.7;
      }
    }


  }
}