/* App.css */
.app {
    display: flex;

  }
  
  /* Sidebar.css */
  .sidebar {
    width: 200px;
    background-color: #102A3D;
    padding: 20px;
    height: 100vh;
  }
  
  .sidebar .link {
    display: block;
    color: #aaa;
    padding: 10px;
    text-decoration: none;
  }
  
  .sidebar .active {
    color: #fff;
    background-color: #007bff;
  }
  